[2019-10-29 15:10] alexellis opened #1 "Add delete command"
## Expected Behaviour

The delete command could take an ID or an IP address plus a provider, then iterate your instances and delete anything that matched.

[code]

## Current Behaviour

Simply use `doctl compute droplet ls/rm` or the equivalent

## Possible Solution

Copy the approach of `create.go` and call it `delete.go`

The provisioning libraries already support `delete` as an operation.

[2019-10-29 16:22] #1 closed

[2019-10-29 16:24] alexellis opened #2 "Enable delete via IP address"
## Expected Behaviour

After provisioning and coming back later, an inlets exit-node will be known mainly by its IP rather than the internal ID used by the cloud provider.

We could do something like this for a friendlier experience:

[code]

## Current Behaviour

We delete via an ID

[code]

## Possible Solution

if `--ip` is given, iterate and page through the instances the cloud provider has (f

[2019-10-29 16:36] alexellis commented on #1
Help needed for #2

[2019-10-29 16:45] rajibmitra opened #3 "Add a test file to test create.go"
## Possible Solution

Use a fake provisioner to test the create.go

[2019-10-29 16:47] rajibmitra opened #4 "Add a test file to test delete.go"

[2019-11-01 17:17] alexellis opened #5 "Enable Packet CLI flags"
## Expected Behaviour

We should be able to create/delete with the Packet.com provisioner

## Current Behaviour

The code is present, but it's not hooked up to any CLI flags yet

## Possible Solution

Copy the approach for DO / Scaleway. Have fun

Update these two methods:

https://github.com/inlets/inletsctl/blob/3b53f1dca10c1597d4c14a50bd305b6306757826/cmd/create.go#L207

https://github.com/inle

[2019-11-01 22:59] u5surf commented on #5
@alexellis Hi, I'll try this issue.

[2019-11-02 01:27] alexellis commented on #5
Thank you

[2019-11-02 10:16] alexellis opened #6 "Add provisioner for Civo"
## Expected Behaviour

As a user of Civo Cloud, I'd like to provision exit nodes there.

[code]

## Current Behaviour

Not available at present

## Possible Solution

For a proof of concept implement a provisioner and see in the `/pkg/` folder. Once validated, this code can be moved into the `inlets-operator` and vendored back to the main project.

* You can get 50 USD free credit via http://bit.l

[2019-11-02 11:12] martindekov commented on #6
Seems interesting will pick this up

[2019-11-07 21:22] #6 closed

[2019-11-10 20:42] #5 closed

[2019-11-11 18:04] #4 closed

[2019-11-11 18:04] #3 closed

[2019-11-11 18:05] alexellis commented on #2
Removing incorrect label of "bug"

[2019-11-29 17:27] alexellis opened #12 "[Feature] inletsctl should be able to install inlets or inlets-pro"
inletsctl should be able to install inlets or inlets-pro

## Expected Behaviour

Using the approach to fetch `kubeseal` in faas-cli, inletsctl should be able to grab inlets and inlets-pro in order to run the client in commands like `create` and `kfwd`

## Current Behaviour

Done manually as per https://github.com/inlets/inlets/blob/master/docs/kubernetes.md#try-inlets-with-kind-kubernetes-in-docke

[2019-11-30 12:28] alexellis opened #13 "Enable inlets-pro and TCP with inletsctl kfwd"
Enable inlets-pro and TCP with inletsctl kfwd

## Expected Behaviour

inlets-pro users should be able to do raw TCP forwarding with `inletsctl kfwd`

## Current Behaviour

OSS inlets users can forward HTTP/s ports

## Possible Solution

* Forward an API like Redis, Mongo or Postgresql
* Using inlets-pro YAML files instead of inlets OSS - see docs for examples - https://github.com/inlets/inlets-pro

[2019-12-29 08:33] alexellis opened #15 "Add provisioner for AWS EC2"
Add provisioner for AWS EC2

Provision interface:

https://github.com/inlets/inletsctl/blob/master/pkg/provision/provision.go

DigitalOcean:

https://github.com/inlets/inletsctl/blob/master/pkg/provision/digitalocean.go

Create with Ubuntu 18.04 or 16.04 using the cheapest instance that has a Public IP. Default region to Europe, but should be configurable.

[2019-12-31 12:42] adamjohnson01 opened #17 "Move defaults into provision package"
@alexellis how would you feel about moving the provisioner defaults into the provision package and removing the additional section? The only config currently in there is for projectID, port and zone. If we make port a constant and add it to provision as well then we only have to add projectID and zone to BasicHost which can be populated if set. This would also require some minor changes to a coupl

[2020-01-01 13:23] adamjohnson01 commented on #2
@alexellis , I will do this one as well.

[2020-01-01 16:07] alexellis commented on #17
I'm still trying to grok this, let me take another look in the new year.

[2020-01-01 16:08] alexellis commented on #12
@Waterdrips do you want to take this one?

[2020-01-01 16:09] Waterdrips commented on #12
/assign: me

[2020-01-01 16:18] alexellis commented on #2
Thanks :+1:

This is going to be rather more involved I think, but would be awesome to have.

In the meantime, can you also send a PR to update the create command so that it prints the sample delete command?

[2020-01-01 16:22] alexellis commented on #12
Different maintainers for inlets, but happy for you to take this

[2020-01-01 16:24] adamjohnson01 commented on #2
Sure, will do!

[2020-01-02 12:01] alexellis opened #18 "[Feature] install client with systemd"
## Expected Behaviour

Given a remote URL, upstream and auth token, users should be able install a systemd unit file so that their tunnel persists.

## Current Behaviour

Needs to be done manually or ad-hoc

## Possible Solution

Copy approach from faasd - https://github.com/alexellis/faasd/blob/master/cmd/install.go

## Steps to Reproduce (for bugs)

Workflow:

1. inletsctl create (observe the ou

[2020-01-04 00:19] adamjohnson01 commented on #2
@alexellis, as part of #21 I created a method for each provisioner called List. We could potentially create a new cmd called list that will list all of the exit nodes for the specified provisioner. Let me know what you think.

[2020-01-04 22:49] adamjohnson01 commented on #17
@alexellis, I am happy to create a pull request with the proposed change as it might make more sense as a diff.

[2020-01-05 12:11] alexellis commented on #12
Do you have any questions on this @Waterdrips? Do you think you can get a PR up this week?

[2020-01-05 21:04] Waterdrips commented on #12
Ill get this done tomorrow.

[2020-01-06 16:01] adamjohnson01 commented on #17
@alexellis, I have created a PR to demonstrate what I was suggesting.

[2020-01-10 07:54] Waterdrips opened #24 "Example command inlets pro doesn't use a env_var"
## Expected Behaviour

I expect the inletsctl command when setting up an inlets-pro exit node prints a command that makes use of the 2 env vars it suggests,
[code]
## Current Behaviour

It suggests setting these vars, then uses a hard-coded 8000 for tcp port
[code]

## Possible Solution

set the last line of the output above to `--tcp-ports $TCP_PORTS`

[2020-01-10 09:08] #24 closed

[2020-01-10 12:30] #12 closed

[2020-01-18 10:38] alexellis opened #28 "Write a state file with the machine provisioned, its ID and auth token"
This feature will write a state file with the machine provisioned, its ID and auth token

## Expected Behaviour

A file (probably YAML file) should be written to disk after provisioning a host, it will be used by the user to be able to delete or reconnect to the host at a later date, it's especially useful if the auth token, ID or IP was lost.

## Current Behaviour

In this scenario, I have to del

[2020-01-18 10:38] alexellis commented on #28
@adamjohnson01 WDYT?

[2020-01-18 10:44] Waterdrips commented on #28
I would love this - possibly a command to give you the inlets command for a specific host, could we name them too?

[2020-01-18 11:10] adamjohnson01 commented on #28
@alexellis I think this is a great idea. I would be happy to take it on.

[2020-01-18 11:11] alexellis commented on #28
Yes sounds good, please take it Adam. Any input on how it should work or did this sound like a good first pass?

[2020-01-18 14:55] adamjohnson01 commented on #28
I like the idea about a commend that will give you the inlets command for the specific host if users are going to have multiple inlets then I think a single file that contains a list would be the way to go with potentially an easy to remember or descriptive name? Something like this?

[code]

I will get the file generation working and we can go from there.

[2020-01-18 16:30] alexellis commented on #28
Single file implies state and management, multiple files are throwaway, don't imply that we'll keep them up to date, they're more of a snapshot.

[2020-01-20 04:23] burtonr opened #29 "[Suggestion] Use separate commands for each provider"
Rather than using an ambiguous string to define a provider, rather have each provider as a sub-command to the `create` command

## Expected Behaviour

Have better type safety, better discovery, and easier usage for users

## Current Behaviour

Run the `create` command and add flags as they are needed. Different per provider

## Possible Solution

Create separate commands for each provider. The fil

[2020-01-21 14:57] alexellis opened #30 "Compress each binary release"
We should compress each binary so that the download is quicker. Tar/gzip seems the most portable option.

The get.sh script must also be updated.

This is needed after adding the EC2 SDK which took us from 8mb to 38mb 🤯

[2020-01-21 14:58] alexellis commented on #30
@utsavanand2 one for you sir?

[2020-01-21 17:34] utsavanand2 commented on #30
<img width="725" alt="Screenshot 2020-01-21 at 8 16 41 PM" src="https://user-images.githubusercontent.com/25264581/72826929-cde49e00-3c9f-11ea-82fc-9e214a44f402.png">

For the sake of documentation, I am posting the size comparison of gzip and bzip2 compression of the inletsctl binary for linux

[2020-01-22 05:44] burtonr commented on #29
I've updated the issue with more detail in the "Possible Solution" to show how there could be provider specific help information displayed in the output.

Currently, the experience with anything other than DigitalOcean, is run it, see why it failed, fix it, run it again, repeat. This is a poor user experience.

[2020-01-23 04:07] burtonr opened #31 "Generated output command for Delete results in error for gce provider"
## Expected Behaviour

Copy and paste the command from the generated output should work

## Current Behaviour

Running the command as it is output results in the following error:
[code]

This was the output generated by the `create` command:

[code]
## Possible Solution

Update the generated command, or update the process to provide the proper functionality.
I did do a repo search in GitHub for th

[2020-01-23 14:32] alexellis opened #32 "Download command failed on MacOS"
## Expected Behaviour

`inletsctl download --pro` should get me a MacOS binary when using Mac, but it was a Linux binary that was downloaded

## Possible Solution

Add unit tests and fix bug.

## Steps to Reproduce (for bugs)

1. Use a Mac
2. Run `inletsctl download --pro`
3. See the wrong binary, it downloads for Linux

cc @Waterdrips

[2020-01-23 14:34] alexellis commented on #32
@Waterdrips perhaps you can write a Go unit test that runs the command then checks the binary is as expected? I used the `file` utility to find the binary format was correct.

[code]

There may be other ways to do this too.

[2020-01-23 14:39] Waterdrips commented on #31
I also found this with a DO exit node, downgrading to 0.3.9 release worked.

Looks like a regression

[2020-01-23 14:40] #32 closed

[2020-01-23 14:41] alexellis commented on #31
@adamjohnson01 @utsavanand2 please can you take a look into this?

[2020-01-23 14:44] alexellis commented on #31
I can't reproduce this, it might have been fixed in 0.4.1, please can you guys re-test? https://github.com/inlets/inletsctl/releases/tag/0.4.1

[2020-01-23 14:54] alexellis commented on #30
@utsavanand2 how soon can you get a PR up for this? You'll need to edit the bash scripts, maybe the makefile and the travis file.

[2020-01-23 15:14] Waterdrips opened #34 "[Feature] Look for an INLETS_ACCESS_TOKEN_FILE env var if --access-token-file is not set"
It would be nice to be able to set a env variable for the location of the access-token file. At the moment we need to set it for every command, and its lots to type

## Expected Behaviour

if you ommit --access-token-file and there is an environment variable set (`INLETS_ACCESS_TOKEN_FILE`) then we could try to use the value in that file (if it exists)

## Current Behaviour

you have to set it eve

[2020-01-23 15:17] Waterdrips commented on #31
`0.4.1` seems to work :+1:

[2020-01-23 15:18] alexellis commented on #30
get.sh also will need an update to download and extract.

[2020-01-23 15:19] alexellis commented on #34
Please feel free to work on this, the flag should override the ENV var

[2020-01-23 15:38] Waterdrips opened #35 "Default --remote-tcp to localhost"
We can set localhost as the default for the `--remote-tcp` flag. This would allow inlets-pro users who are forwarding traffic to the same host that is running the inlets-pro client.

## Expected Behaviour

if the flag `--remote-tcp` is not set we could default to `localhost` which would forward traffic to the host running the inlets-pro client command

## Current Behaviour

you have to set it ever

[2020-01-23 16:03] utsavanand2 commented on #30
I'll put this one up as soon as I can. Most likely tonight only!

[2020-01-23 16:03] utsavanand2 commented on #30
I've updated get.sh but need to update the Makefile and travis.yml

[2020-01-23 18:20] burtonr commented on #31
Updated to 0.4.1. The error in the original description is gone, but now there is a different error:

[code]

[2020-01-23 19:17] alexellis commented on #31
I've personally tested Packet and DO recently and would suggest using those. You can also set up your own VMs the old fashioned way.

Let's see if @utsavanand2 can help with this issue, who wrote the code for GCE

[2020-01-23 19:26] utsavanand2 commented on #31
@burtonr I'll take a look at this. I'm having issues with GCE, particularly with the firewall rules with Stackdriver logs stating that I do not have enough permissions. I would be really grateful if I can get some suggestions from you, since I guess you have a GCP account 😄

[2020-01-23 19:40] burtonr commented on #31
Hey @utsavanand2 Thanks for helping out. Yes, I use GCP for a lot of my personal projects.
For inletsctl, the service account, or credentials that you pass it, the account must have at least:
- `compute.firewalls.create`
  - There is no specific "compute.firewalls" permissions that I could find though, so I set it to Admin
- `serviceaccount user`

I have an inlets service account that's set up as

[2020-01-23 19:47] utsavanand2 commented on #31
@burtonr If you see [here](https://github.com/inlets/inlets-operator#running-in-cluster-using-google-compute-engine-for-the-exit-node-using-helm), I am using the `compute.Admin` role, which has network admin rights too and the `serviceaccount user` role. But inlets-op seems to have trouble with creating the firewall rules for the inlets control port. Though this is a different topic but can be rel

[2020-01-23 19:58] burtonr commented on #31
I see that the import for inlets is `"google.golang.org/api/compute/v1"`

Looking at the [source repo](https://github.com/googleapis/google-api-go-client), I see this section in the first paragraph of the readme:

That said, it seems the imports should be updated to: `"cloud.google.com/go"` from the newer(?) repo here: [google-cloud-go](https://github.com/googleapis/google-cloud-go)

[2020-01-23 20:12] utsavanand2 commented on #31
@burtonr I saw that repo initially, but the new repo only had compute/metadata sub module. I may be wrong here though

[2020-01-23 20:30] burtonr commented on #31
Ah yes, I see that now. At a quick glance, it looks more complete, and official. Sadly, you are correct.

I also found this _closed_ issue asking the same question: https://github.com/googleapis/google-cloud-go/issues/1605

Basically saying: No, there is no official library for interacting with GCP Compute Engine...

In other words, it's quite possible the server side has changed, but the client l

[2020-01-23 20:59] adamjohnson01 commented on #31
@burtonr and @utsavanand2  I know what the issue is and will raise a PR to fix it. The issue is here

https://github.com/inlets/inletsctl/blob/3f1c896a5ac31d0ee7651a8074fc687e7f0c27ff/pkg/provision/gce.go#L184

I introduced this when I added the delete by IP functionality, the problem is that the project-id from the instance name string is not being used.

Apologies, I did not test the normal dele

[2020-01-26 07:56] adam7 commented on #15
Isn't this closed by #16 ?

[2020-01-26 08:54] alexellis commented on #15
@adamjohnson01 did we get the auto-closing keywords right in the PR?

Can this be closed now?

[2020-01-26 14:25] adamjohnson01 commented on #15
@alexellis , I do not think that I got the auto closing stuff correct, this can be closed.

[2020-01-26 14:26] adamjohnson01 commented on #2
@alexellis , this can be closed as well.

[2020-01-26 21:43] #15 closed

[2020-01-30 10:19] utsavanand2 opened #39 "The delete command does not work for GCE"
The delete command printed out after creating an exit node on GCE does not delete the instance until a `--project-id` flag is provided

## Expected Behaviour

Unless until specified explicitly, the `project-id` should be inferred from the GCE exit node *customID*

## Current Behaviour

<img width="1089" alt="Screenshot 2020-01-30 at 3 34 41 PM" src="https://user-images.githubusercontent.com/252645

[2020-01-30 10:56] alexellis opened #41 "Add a --rm flag to "inletsctl create" for a temporary tunnel"
We should add a --rm flag to "inletsctl create" for when users need a temporary tunnel.

The use-case would be that I want to share my blog i.e. 127.0.0.1:4000 with a friend or colleague, but I don't want to be billed for the DigitalOcean VM beyond my 1-2 hours of uptime.

I'd run a command similar to `docker run --rm` which removes the tunnel immediately after I hit control + c or exit.

We'd hav

[2020-01-30 11:41] #39 closed

[2020-01-30 13:26] adamjohnson01 commented on #41
I am happy to work on this.

[2020-01-30 16:23] adamjohnson01 commented on #39
I think you can close #31 as this is a duplicate of that.

[2020-01-30 16:35] adamjohnson01 commented on #31
@alexellis , this can be closed as a dup of  #39

[2020-01-30 17:51] alexellis commented on #31
/close

[2020-01-30 17:51] #31 closed

[2020-01-30 17:51] alexellis commented on #31
Why don't we set up Derek access for contributors to this repo? Can you help Adam?

[2020-01-30 19:05] adamjohnson01 commented on #31
@alexellis, sure. I can help.

[2020-01-31 08:17] utsavanand2 commented on #41
@alexellis I would love to know what do you think the right approach would be?
Including inlets from inletsctl as a binary or including the package in the vendor dir?

[2020-01-31 08:19] alexellis commented on #41
For the first attempt you should do nothing and assume that is in the path. At later time we can invoke the existing code which performs a download, if we are unable to locate the binary.

[2020-01-31 08:23] alexellis commented on #41
@adamjohnson01 I think I missed your comment here?

[2020-01-31 08:23] alexellis commented on #35
Sounds good

[2020-01-31 08:26] adamjohnson01 commented on #41
@alexellis, I said that I would work on it but then I saw @utsavanand2 said in slack that he was working on it so I removed it.

[2020-01-31 09:38] utsavanand2 commented on #41
@adamjohnson01 I would love your feedback on it! Maybe we can collab together? I'll push some changes tonight. We'll see how it works.

@alexellis I've created a check which makes sure inlets or inlets-pro is in `/usr/local/bin/`

[2020-01-31 09:45] alexellis commented on #41
It might be worth keeping all messages rather than deleting any so that we don't clash or duplicate work. Async communication is hard.

@utsavanand2 for the first version, there's probably no need to check that the tool exists at all. Let's keep it simple and get it shipped quickly.

[2020-01-31 09:51] adamjohnson01 commented on #41
@alexellis, you are right I should have commented instead of removing it. I just didn't want to create confusion about who was doing the work.

@utsavanand2, sure I am happy to help out however I can. :)

[2020-01-31 16:22] alexellis commented on #18
@adamjohnson01 I know you were looking for tasks, what do you think about this? Any questions / feedback?

[2020-02-03 15:30] utsavanand2 opened #44 "Fix issue with the opening of TCP ports for inlets-pro on GCE"
## Expected Behaviour

The GCE operator should open up ports for inlets-pro
For users switching between inlets OSS and inlets-pro, the firewall rules should be
updated automatically.

## Current Behaviour

If a firewall rule named inlets for inlets OSS already exists, it doesn't open up ports for inlets-pro

## Possible Solution

PR #45

## Steps to Reproduce (for bugs)

1. Run inletsctl with inle

[2020-02-03 15:33] alexellis commented on #44
To be fair this isn't going to work. We need all ports to be opened. cc @adamjohnson01

The point of inlets-pro is that it's a pass-through TCP proxy, so we'd want ports as low as 22, 80 and 443 if that's what the user was punching out.

[2020-02-03 16:05] utsavanand2 commented on #44
My PR will be opening 22, 80, 443, and ports from 1024 to 65535

On Mon, Feb 3, 2020, 9:03 PM Alex Ellis <notifications@github.com> wrote:

[2020-02-03 16:07] utsavanand2 commented on #44
@alexellis Do you want any other ports to be opened apart from these?

[2020-02-05 20:08] alexellis opened #47 "region shown as "" in create command"
region shown as "" in create command

## Expected Behaviour

[code]

## Current Behaviour

[code]

## Steps to Reproduce (for bugs)

1. `./inletsctl create --provider digitalocean --access-token-file  ~/inlets-token`

## Context

Found in master

Problematic area is around the flag parsing and defaults -> https://github.com/inlets/inletsctl/blob/master/cmd/create.go#L96

[2020-02-06 07:41] aidansteele opened #49 "Proposed provisioner: Linode"
Linode provides fairly cheap bandwidth in a handful of locations. Would you be interested in a provisioner for them?

[2020-02-06 07:42] aidansteele opened #50 "Proposed provisioner: AWS Lightsail"
Lightsail is nice because it provides a lot of bandwidth much cheaper than EC2. Would you be interested in a provisioner?

[2020-02-06 07:43] aidansteele opened #51 "Proposed provisioner: AWS Fargate"
This one’s a bit different, but I thought it would be worth discussing. Fargate allows for public IP addresses and seems like it could meet all the requirements laid out for a new provisioner. What do you think? My main motivation is that I imagine it starts up quicker than other options.

[2020-02-06 07:46] alexellis commented on #51
Imho Fargate is very slow to boot and expensive vs. EC2. If you can find some numbers to prove otherwise we may take a look.

[2020-02-06 07:47] alexellis commented on #49
Let's track interest here from the community. Would you be willing to contribute the work + maintain it?

[2020-02-06 08:08] aidansteele commented on #51
Good point on the numbers. I’ll try come up with some and report back. If it’s indeed no faster, it makes it a much easier “no”

[2020-02-06 08:29] vielmetti commented on #5
A tiny note here - if you provision with packet and omit the `project-id` flag you end up with an unexpected 404 error instead of a working server

https://github.com/inlets/inletsctl/blob/master/cmd/create.go#L154

looks like where you'd need to insert some added code to test that flag for GCE and Packet. Otherwise I can confirm that it works nicely.

[2020-02-06 10:36] alexellis commented on #5
Sounds good, thank you for letting us know. I'd like someone to send a PR for it.

[2020-02-06 15:37] vielmetti opened #52 "Packet provider: project-id required"
In the Packet provider, if you omit the `--project-id` flag, you get
a 404 error when you attempt to create the machine instead of
a working machine.

https://github.com/inlets/inletsctl/issues/5#issuecomment-582791212

I think but am not 100% sure that this is also true for GCE.

## Expected Behaviour

If the `--project-id` flag is omitted, a message should appear
stating that it's required.

##

[2020-02-06 18:03] #34 closed

[2020-02-09 06:00] burtonr opened #54 "suspected issue with downloading inlets-pro on GCP"
## Expected Behaviour

Expect created server to run inlets(-pro) and output commands to result in a connected tunnel

## Current Behaviour

Client shows:
[code]

Logged in to the created server. This is what I found:

[code]

## Possible Solution

Perhaps a verification script that ensures the binary is installed, and the inlets-pro service is running before exiting to know that there was an error

[2020-02-09 07:39] alexellis commented on #54
Hi @burtonr can you look at the cloud init log in /var/log/ (the log with a longer name suffix)

@utsavanand2 or @adamjohnson01 might be best looking at this.

It would appear the download script perhaps failed or was interrupted since the other files are in place.

Can you try again later and share the log please?

Alex

[2020-02-09 07:39] alexellis commented on #54
/set title: suspected issue with downloading inlets-pro on GCP

[2020-02-09 08:33] utsavanand2 commented on #54
@burtonr @alexellis I'm getting on to this! One thing to note though I don't think this is related to the issue is opening up of ports. Which I'll put up as soon as I can today! I'll see if it fixes it. If not I'll see what I can do about it 🤞

[2020-02-09 09:11] #52 closed

[2020-02-09 09:19] alexellis opened #55 "Add example of how to configure GCE token"
Add example of how to configure GCE token

As per https://github.com/inlets/inlets-operator#running-in-cluster-using-google-compute-engine-for-the-exit-node-using-helm

[2020-02-09 09:24] alexellis opened #56 "Broken firewall rules for GCE"
I think there may be a conflict between the naming for firewall rules for inlets vs inlets-pro, which could lead to issues for users.

First of all I set up a host with OSS, and a firewallRule was created, i.e. for port 8080 I assume

[code]

Then I set up a node for inlets-pro, which said the rule already existed:

[code]

The problem here is that inlets-pro vs inlets OSS use different ports and

[2020-02-09 09:31] utsavanand2 commented on #44
Update: The linked PR #45 will open up all TCP traffic

[2020-02-09 09:34] utsavanand2 commented on #56
@alexellis The ports 80 are opened by using the http-server target tag for the exit node while provisioning. Every project comes with some default firewall-rules

[2020-02-09 09:34] alexellis commented on #56
I just ran through this, and my screenshot shows that the port 80 was closed and not opened. I had to edit the firewall rule in the GCP console to access it.

[2020-02-09 09:46] alexellis commented on #56
This is what I got for inlets-pro, a firewall with the wrong port again, it should have at least `8123` for the control-port for auto-tls and then * open for any port the user decides to punch out via the client.

It's impossible to set a restrictive port range for inlets-pro since the client decides which ports to open.

![no-8123](https://user-images.githubusercontent.com/6358735/74099954-ef0f10

[2020-02-09 09:46] alexellis commented on #56
@adamjohnson01 does this apply at all to the EC2 provisioner? I think only GCE + EC2 have security group / firewall config added.

[2020-02-09 09:58] alexellis commented on #56
Also broken in the operator -> https://github.com/inlets/inlets-operator/issues/46

[2020-02-09 10:34] utsavanand2 commented on #55
@alexellis Here is the [PR](https://github.com/inlets/inletsctl/pull/57) for this

[2020-02-09 12:02] utsavanand2 commented on #56
This should fix all the problems #58
cc @alexellis
cc @burtonr

[2020-02-09 12:19] utsavanand2 commented on #47
Derek close

[2020-02-09 12:19] #47 closed

[2020-02-09 13:45] #55 closed

[2020-02-09 15:50] #44 closed

[2020-02-09 15:50] #56 closed

[2020-02-09 16:27] burtonr commented on #54
Confirmed this is now working as expected as of version `0.4.8` from PR https://github.com/inlets/inletsctl/pull/58

[2020-02-09 16:27] #54 closed

[2020-02-09 21:23] vielmetti commented on #52
Thanks for fixing this!

[2020-02-09 21:28] alexellis commented on #52
You're welcome. Hope it's useful to the community. I'd love to see it used more

[2020-02-11 11:44] #50 closed

[2020-02-18 21:58] #18 closed

[2020-02-18 21:59] alexellis commented on #18
This has been added to inlets-pro as a feature, but is relatively straight-forward for folks to write-up, the example in the repo for the server can be copied / adapted.

https://github.com/inlets/inlets-pro/releases/tag/0.5.4

[2020-02-24 10:09] #30 closed

[2020-02-24 20:08] utsavanand2 commented on #28
Derek assign: me

[2020-04-04 16:34] jsiebens opened #62 "Proposed provisioner: Vultr"
Vultr has also some cheap plans and is available in a handful of regions

[2020-05-14 08:27] moritz31 opened #67 "Proposed provisioner: Hetzner"
Hey @alexellis

Hetzner is a cheap german hosting provider with data centers in germany and finland.
One can get a cheap vm in their cloud environment for something like 3Euro/month.

I would like to have this provider in inletsctl and also work on this if that is okay for you ?

Regards
Moritz

[2020-06-30 12:31] #49 closed

[2020-07-19 03:45] zechenbit opened #69 "Azure provisioner to use auth contents as parameter instead of auth file path"
## Problem
Currently Azure provisioner factory function takes auth file as the 2nd parameter.
[code]

It makes it hard to use in some context/env where the file system is not interoperable between components involved in different stages.  An example is using inlets in inlets-operator, where the file system of later one is in the k8s cluster.

## Solution
The solution is to make provisioner factory

[2020-07-21 07:37] #69 closed

[2020-07-21 07:44] alexellis commented on #67
Hi @moritz31

Hetzner is approved, if you would like to work on it.

Alex

[2020-07-21 07:44] alexellis commented on #67
Linking to request on the operator - https://github.com/inlets/inlets-operator/issues/44

[2020-07-23 10:19] #67 closed

[2020-08-10 02:51] digitalsanctum opened #73 "AWS Security Groups not cleaned up in the case of failure"
## Expected Behaviour
If there's a failure creating the ec2 instance, then all associated resources (in this case SG) should be cleaned up.

## Current Behaviour
The ec2 instance creation fails and leaves the SG created in place.

## Possible Solution
see expected behavior

## Steps to Reproduce (for bugs)
[code]

## Context

## Your Environment

* inlets version `inlets --version`

* Docker/Kuber

[2020-08-10 15:33] digitalsanctum opened #74 "Create command results in 400 if default VPC is unavailable for ec2 provider"
A failure occurs when attempting to create an exit node via `inletsctl create` command for `ec2` provider.

## Expected Behaviour

An ec2 instance and security group are successfully created.

## Current Behaviour

A 400 status is returned with the following message when a default VPC is unavailable:
[code]

## Possible Solution

Explicitly require `vpc-id` and `subnet-id` when provider is `ec2`.

[2020-08-11 16:57] Waterdrips commented on #74
/assign: digitalsanctum

[2020-08-28 08:26] #62 closed

[2020-09-23 09:14] alexellis opened #78 "Civo IP mismatch"
It appears that Civo are using some kind of IP mapping, where the inlets PRO installation tries to get the public IP by reaching out to an IP finding service, but the IP that came back was incorrect.

[code]

[code]

SSH:

[code]

That IP gets there via `export IP=$(curl -sfSL https://checkip.amazonaws.com)`

Running it later on, interactively gives:

[code]

[2020-09-23 09:16] alexellis commented on #78
Any thoughts @alejandrojnm / @kaihoffman?

[2020-10-20 20:42] dirien opened #79 "Openstack (STACKIT) Support"
## Openstack (STACKIT) Support

inlets is really a cool project, and we (here at the Schwarz Group) would like to use on our own cloud provider STACKIT (https://stackit.de/en/). Openstack is the engine of STACKIT.

On addition, Kubernetes is a big building block for the future and and i think inlets will help the developers in many area of their work.

To use inlets, it would be sweet to support O

[2020-10-21 07:54] alexellis commented on #79
(Thanks for the reply, moving this to the inlestctl repo where we talk about and consider adding providers.)

[2020-10-21 08:03] alexellis commented on #79
I'm curious whether the code for the inlets provisioner would work with any OpenStack host, or only your internal IT system?

If you're planning on using inlets for commercial work and confidential data, have you also made yourself aware of the differences of inlets OSS and inlets PRO when provisioned by inletsctl/operator?

I'd suggest reading [inlets tunnel capabilities](https://github.com/inlet

[2020-10-21 08:10] dirien commented on #79
I thought about the same, regarding the code. I for now had the RC file from our opentack installation in mind.

Good thing is that STACKIT is also for the external market. I can give you details maybe in the mail.

Regarding the license: I think only PRO makes sense for us. :)

[2020-10-21 20:49] Waterdrips commented on #74
/close this has been implemented here an in inlets operator. Many thanks @digitalsanctum

[2020-10-21 20:49] #74 closed

[2020-10-22 04:22] dirien commented on #79
you let me know if you agree with  the  addition of openstack (STACKIT) to inlets?

[2020-10-23 15:41] alexellis commented on #78
Given it a month for people to reply, now trying another one of the team.. pinging @andyjeffries

Andy, is there any reason the public IP would report as "wrong" during the Civo cloud-init phase?

[2020-10-23 15:42] andyjeffries commented on #78
I believe it goes via a router's IP address, so that may not work. A guaranteed way of it working (at least until Kube100 Platform goes live) is to use OpenStack's metadata service:

[code]

[2020-10-23 15:53] andyjeffries commented on #78
Out of interest, how do you get `/etc/default/inlets-pro`? Is that using the same check-up.amazonaws.com service?

[2020-10-23 16:51] alexellis commented on #78
It's generated here with a similar approach for both types of inlets. https://github.com/inlets/inletsctl/blob/master/pkg/provision/userdata.go

[2020-10-26 08:32] andyjeffries commented on #78
Hmmm, so either way it uses checkip.amazonaws.com? That's weird then that it changes; maybe it uses a router's IP up until the public IP is connected. The only thing I can think is to use the official meta-data service, but I'm not sure how you'd check for a failure first in order to try that, because the previous IPs seem to be valid.

[2020-10-26 08:51] alexellis commented on #78
I wondered if you run user-data in the traditional way, or whether it's run as part of the image/instance builder? When we spoke last year, I'd requested this feature and at the time I think it had to be implemented in a non-conventional way.

The alternative is a switch statement just for the Civo provider, that gets the IP and generates `/etc/default/inlets-pro` upon first boot.

[2020-10-26 08:51] alexellis commented on #78
Thanks again for taking a look at this.

[2020-10-26 08:55] andyjeffries commented on #78
The user-data is run during cloud-init, but we already use it to initialise the instance. So the way we handled this is to allow the users to specify a custom script (bash, etc) that is run as part of the cloud-init. The API and CLI support this. I don't know if that helps?

The switch statement could be for all OpenStack providers (although I don't know if you provide adaptors/plugins/etc for any

[2020-11-02 09:59] alexellis opened #81 "Convert CI to GitHub Actions"
## Task

Convert CI to GitHub Actions

## Context

Travis is removing its free tier for OSS projects, so this should be built with GitHub Actions instead, which is not going to add additional cost.

I would expect this to be one of the easier projects to convert given that Docker isn't used in the build.

See also:

https://github.com/mvdan/github-actions-golang
https://github.com/actions/create-r

[2020-11-02 19:14] isabellaliu77 commented on #81
Can I try this?

[2020-11-02 19:20] alexellis commented on #81
Yes please use the approach from k3sup and read the contribution guide before starting. Each commit needs to be signed off (not GPG)

[2020-11-02 19:21] isabellaliu77 commented on #81
Ok, thanks alex

[2020-12-04 11:11] alexellis opened #84 "Error with downloading SHASUM"
Error with downloading SHASUM

## Expected Behaviour

Download script would work without error and check the SHASUM of the tgz

## Current Behaviour

A user reported that it wasn't working.

[code]

It seems that we are now missing the SHAs on the releases page from 0.7.0 - https://github.com/inlets/inletsctl/releases/tag/0.7.0

If you need to download inletsctl, just head over to the releases pag

[2020-12-04 11:12] alexellis commented on #84
@isabellaliu77 FYI we ran into this issue after merging #82

[2020-12-04 11:15] alexellis commented on #84
Fixed in 8641a9a09903f0e3b18a4ed1d388a35663a52dc4

[code]

[2020-12-04 11:15] #84 closed

[2020-12-27 19:53] alexellis opened #85 "Uploading too many assets"
We appear to be uploading too many assets

## Expected Behaviour

Just the tgz and SHA files should be added to the releases page

## Current Behaviour

Everything is being added including the uncompressed versions.

## Possible Solution

Filter the files in the staging directory (bin) or update the publish job to filter the uploads

## Steps to Reproduce (for bugs)

1. Fork the repo
2. Do a relea

[2020-12-27 19:53] alexellis commented on #85
@utsavanand2 PTAL?

[2021-01-12 08:55] jsiebens opened #87 "[Suggestion] Remove inlets specific references from the provisioners"
At this moment, many provisioners have some specific, hard-coded references to inlets. Like tags or firewall rules.
Referring to this repository: https://github.com/inlets/provision-cloudinit-go, removing those references and making the provisioners more generic, they can be used as a library by others.

## Expected Behaviour
Most provisioners create cloud host with hard-coded inlets references, l

[2021-01-19 12:16] #85 closed

[2021-02-13 06:07] dashaun opened #88 "curl/sudo sh - Install fails on Ubuntu 20.10"
SHA comparison failed because the binary got installed in /tmp instead of into /tmp/bin/

## Expected Behaviour

## Current Behaviour

## Possible Solution
My workaround was to create /tmp/bin and move the inletsctl from /tmp/ to /tmp/bin/

## Steps to Reproduce (for bugs)

Ubuntu 20.10
1. curl -sLSf https://inletsctl.inlets.dev | sudo sh

## Context

## Your Environment

* inletsctl version

[cod

[2021-02-13 07:26] alexellis commented on #88
Hi thank you for updating your version.

I'll take a look into this.

Alex

[2021-02-13 08:16] #88 closed

[2021-02-17 09:45] zechenbit opened #89 "inletsctl create not handling --tcp properly"
The inlets client throws error when provisioning an inlets server in Azure, because the `--tcp` is not being handled correctly as the previous `--pro` by `inletsctl create`. See the related piece of code: https://github.com/inlets/inletsctl/blob/master/cmd/create.go#L195-L197
[code]

### inletsctl create
[code]

### inlets inlets-pro client
[code]

## Expected Behaviour
inlets client should connec

[2021-02-17 09:52] alexellis commented on #89
Thank you for raising this issue.

Would you be open to helping with a PR to resolve this?

The --pro/--tcp flags are meant to indicate that all ports need to be opened.

A future --http mode will be added for the [new features explained here](https://inlets.dev/blog/2021/02/11/secure-letsencrypt-tunnel.html) where ports 80, 443 and 8123 will be needed.

[2021-02-17 18:12] #89 closed

[2021-03-17 15:44] alexellis opened #91 "[Feature] Provision exit-servers with HTTPS using new Let's Encrypt feature"
When inlets-pro got its own Let's Encrypt features, it meant that we could set up a VM with a HTTPS certificate in a very short period of time. That process to setup the VM is still manual, [as documented here](https://inlets.dev/blog/2021/02/11/secure-letsencrypt-tunnel.html)

## Expected Behaviour

Accept the flags from `inlets pro http server` and make them available for a HTTPS server created

[2021-03-31 09:47] #79 closed

[2021-03-31 09:47] #91 closed

[2021-03-31 09:47] alexellis commented on #91
This has been completed in the latest release :tada:

[2021-06-01 08:58] aniecki opened #93 "inlets-pro: command not found"
This is double strange/error - for the provisioning, don't use the -pro flag, yet the outcome shows to use the pro version, which is not available.
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1. curl -sLSf https://inletsctl.inlets.dev | sudo sh
2.

## Context

## Your Environment

* inlets version `inlets --version`
Version: 3.0.1
* Docker/K

[2021-06-01 09:29] aniecki opened #94 "error="websocket: bad handshake""
## Expected Behaviour

Should be able to connect to ec2 server provisioned by inletsctl, even without pro version

## Current Behaviour

ERRO[2021/06/01 11:17:37] Failed to connect to proxy. Response status: 400 - 400 Bad Request. Response body: Client sent an HTTP request to an HTTPS server.  error="websocket: bad handshake"
ERRO[2021/06/01 11:17:37] Remotedialer proxy error

[2021-07-03 08:58] alexellis opened #95 "Update Ubuntu images to 18.04"
## Expected Behaviour

Ubuntu 16.04 is now EOL, and only paid "ESM" support / updates are available.

Update all provisioners to use Ubuntu 18.04 images and then test each.

Otherwise, images may be removed without warning, such as in: https://github.com/inlets/inlets-operator/issues/123, resulting in users being unable to use inletsctl/inlets-operator.

[2021-07-05 08:45] alexellis commented on #95
Where to change the operator:

https://github.com/inlets/inlets-operator/blob/ab802941ff7a9fbf8ab6b725e913afcd3eeb1929/controller.go#L515

Where to change inletsctl:

https://github.com/inlets/inletsctl/blob/f2ba8dae9846fb69e7b308076c59e288cc22f33c/cmd/create.go#L381

[2021-07-07 09:51] alexellis commented on #78
@dirien just ran into this again.

@andyjeffries how would you recommend we obtain the instance IP for Civo?

[2021-07-07 09:59] andyjeffries commented on #78
https://opensource.com/article/18/5/how-find-ip-address-linux

[2021-07-07 10:00] andyjeffries commented on #78
`curl ifconfig.me` works nicely from that list I believe, returns just the IP address with no trailing newline.

[2021-07-07 10:03] alexellis commented on #78
The mechanism that we are using works well on all other providers. I think the issue is that the way cloud-init is run / built, means it runs on another machine than the actual host. Am I roughly right there?

[2021-07-07 10:11] andyjeffries commented on #78
Cloud-init is generated in our Operator, but run on the VM itself.  The IP is known before the instance starts building. We could try to inject the public IP in to a standard file on the filesystem, however, it means if we move the IP to a different instance in the future, that file would be out of date. So I think this is the safest way to do it.

I don't know why it's not working for you...

I t

[2021-07-07 10:13] dirien commented on #78
@andyjeffries -> https://github.com/inlets/inletsctl/blob/master/cmd/create.go#L540

Should show you the userdata aka cloud-init

[2021-07-07 10:15] andyjeffries commented on #78
Thank you @dirien . So if you run this on Civo, what IP address do you get at that point and could you leave the instance running (and let me know it's ID) and I'll try to debug what's happening.

[2021-07-08 14:10] andyjeffries commented on #78
I believe that Dinesh worked with @dirien and this is all resolved now.

[2021-07-09 20:17] #95 closed

[2021-07-16 17:37] nathanpeck opened #103 "AWS EC2 Provisioner does not support temporary credentials with session token."
Many corporate or high security environments vend temporary AWS credentials to access an AWS account. These credentials have three factors: `AWS_ACCESS_KEY_ID`, `AWS_SECRET_ACCESS_KEY`, and `AWS_SESSION_TOKEN`. Without all three the authentication will fail.

Currently the AWS EC2 provisioner supports specifying the access key, and secret key, but does not support specifying a session token. As a

[2021-07-16 17:40] alexellis commented on #103
Thanks for raising this. You could also set up your VM as required and download the inlets server manually, or using CloudFormation/TF/Pullumi.

Inletsctl uses cloud init, so a similar approach is what I'd expect to work with other tooling.

I would be interested in any possible solution that you may see? That was part of the original template. How does the AWS SDK enable the third leg of authenti

[2021-07-17 07:28] rgee0 commented on #103
This should be relatively straightforward to implement. It’s a case of capturing a new flag value and passing it through to the provisioner, which currently passes `“”` in the token field.

You’d probably want to split the two suggested approaches. Offer through a flag initially and then consider environment variables later.

[2021-07-17 08:46] rgee0 commented on #103
https://github.com/inlets/cloud-provision/pull/8 is the first part

[2021-07-17 10:12] rgee0 commented on #103
https://github.com/inlets/inletsctl/pull/104 is a drafted part 2 once part 1 is available

[2021-07-17 14:36] rgee0 commented on #103
#105 provides for the use of temporary credentials.

@nathanpeck if you're interested I'd appreciate an extra set of eyes on the testing.

[2021-07-17 16:05] rgee0 commented on #103
Doco here:https://github.com/inlets/docs/pull/18

[2021-07-17 17:46] #103 closed

[2021-07-17 17:48] alexellis commented on #94
Hi @aniecki

inlets OSS is discontinued and was replaced by inlets PRO, you're welcome to check out offers like our 6mo license with 50 USD off. All tooling is for inlets PRO customers only.

https://openfaas.gumroad.com/#VJUPc

Alex

[2021-07-17 17:48] #94 closed

[2021-07-17 17:49] alexellis commented on #94
/add label: wontfix,support,question

[2021-07-17 17:50] alexellis commented on #93
Hi @aniecki

It seems like you need to buy inlets PRO and have not done so.

Not sure how I can help you here, but I commented on your other issue.

Alex

[2021-07-17 17:50] #93 closed

[2021-07-17 17:50] alexellis commented on #93
/lock

[2021-07-17 17:52] alexellis commented on #87
Does this still need any action?

[2021-07-17 17:53] alexellis commented on #103
Thanks @rgee0 that was excellent timing 👍

Nathan, you can still set up your tunnel servers however you like, but inletsctl 0.8.8 now supports the request above:

https://github.com/inlets/inletsctl/releases/tag/0.8.8

[2021-07-19 05:28] jsiebens commented on #87
Not in this repository, everything is moved to [cloud-provision](https://github.com/inlets/cloud-provision)

[2021-07-26 13:00] bpmct opened #107 "creating exit server with letsencrypt fails to create & enable systemd service"
## Expected Behaviour
The exit server creates a systemd service & enables it for `inlets-pro` with the LetsEncrypt configuration

## Current Behaviour
No systemd service is created and inlets-pro has to be started manually

[code]

## Possible Solution
@alexellis suggested it was an issue with the https service not being included: https://github.com/inlets/inletsctl/blob/ed0bcc767eb9357bef75062dee

[2021-07-26 13:26] alexellis commented on #107
Sorry for the inconvenience and thank you for flagging this.

I've added the artifact manually to the latest inlets pro release, and I'll be updating the CI for it so that it gets added to future releases properly

[2021-07-26 13:26] #107 closed

[2021-07-27 08:31] dirien opened #108 "AWS EC2: Update Image to Ubuntu 20.04"
The VM image/os should be update to 20.04 due to this >#95

Mainly its the line

https://github.com/inlets/inletsctl/blob/ed0bcc767eb9357bef75062dee746684b97eb0bf/cmd/create.go#L489

And should be tested too.

[2021-07-27 08:46] dirien commented on #78
I think we can close thos one.

[2021-07-27 11:24] cpanato commented on #108
I will update and test it

[2021-08-04 09:47] dirien commented on #108
Done thanks @cpanato ! ❤️

[2021-08-04 09:47] #108 closed

[2021-08-04 09:49] dirien opened #111 "Align plan handling inletsctl with inlets-operator"
Comment from the PR of #109

So this issue is to align the plan handling of inletsctl with inlets-operator

[2021-08-04 11:08] dirien opened #112 "Add OVH as new cloud provider for inletsctl"
Add OVH as new cloud provider for inletsctl

OVH
https://www.ovh.com/

OVH, legally OVH Groupe SAS, is a French cloud computing company which offers VPS, dedicated servers and other web services. As of 2016 OVH owned the world's largest data center in surface area. As of 2019, it was the largest hosting provider in Europe, and the third largest in the world based on physical servers.[1]

[1] https

[2021-08-09 11:34] #112 closed

[2021-10-21 07:16] Shikachuu opened #114 "Update inletsctl to use the newest version of inlets PRO by default"
Inletsctl currently uses `0.8.8` az the default version fro inlets PRO, it should be updated to `0.9.1`

## Expected Behaviour
`inletsctl create` should use the latest verison of inlets PRO without specifying it with the `--inlets-pro-version` flag.

## Current Behaviour
It uses `0.8.8`.

## Possible Solution
Update the `inletsProDefaultVersion` const in the create command.

## Context
Users shoul

[2021-10-21 07:37] alexellis commented on #114
Approved, thank you.

[2021-10-27 15:01] #114 closed, assigned to nobody

[2021-11-27 18:02] dirien commented on #111
done

[2021-11-27 18:02] #111 closed

[2021-11-29 22:44] #35 closed

[2021-12-01 12:25] alexellis commented on #111
Thank you

[2022-01-30 05:50] eltariel opened #116 "Following `inletsctl create` docs for Azure fails with authorization errors."
The reference docs for AWS and GCE both contain detailed instructions for setting up the authorization needed to run `inletsctl create`. The corresponding docs for Azure are incomplete and following them doesn't work without an extra step.

## Expected Behaviour
1. Install inletsctl
2. Follow the steps listed here: https://docs.inlets.dev/reference/inletsctl/#example-usage-with-azure
3. Inlets is

[2022-01-30 06:09] eltariel opened #117 "`inletsctl create` displays an incomplete delete command for Azure"
When you run `inletsctl create`, it prints a command to run in order to delete the server again. The command generated for an Azure deployment is incomplete and will not run without additional parameters.

## Expected Behaviour
* Run the `inletsctl delete` command generated by `inletsctl create`
* The inlets server is deleted.

## Current Behaviour
* The provided command fails:
[code]
* Adding --a

[2022-01-31 20:23] alexellis commented on #116
Hi @eltariel thanks for mentioning this.

We don't see to have a record of you as a customer. Sorry if I am not connecting the dots.

This was working when it was contributed by the community, but I don't personally use Azure so haven't tested it recently. We would be open to a contribution if you can come up with an alternative for the documentation.

Alex

[2022-01-31 20:25] alexellis commented on #117
Hi,

This seems like a reasonable improvement in user-experience. We'd be open to a pull request / contribution to inletsctl (which is an open source component).

Alex

[2022-01-31 21:51] eltariel commented on #116
No worries, I'm not actually a customer yet. I've been evaluating options for my little pi cluster (your guides have been super helpful with getting that going!) and inlets looks like a winner.

I'll have a look when I get a chance and see if I can find a more precise set of permissions. I'm still fairly new to azure myself, I just happened to have some free capacity available.

[2022-02-01 09:36] alexellis commented on #116
The feedback is appreciated, however I should make it clear that you do need a valid license or Gumroad subscription to deploy, launch or use inlets-pro in any way.

inletsctl is really a utility method for creating VMs and preinstalling the server component. It's optional, and shouldn't affect your Pi cluster. The same goes for using it in-cluster, where Helm may be preferable over the operator f

[2022-02-02 23:26] eltariel commented on #116
Thanks for the comments. My understanding is that both inletsctl and inlets-operator use the same method for deploying the vm, and I was mostly checking that would work before I tried to figure out how to use inlets-operator. Exposing services on my cluster isn't the only use case I have for inlets 😄

Just want to clarify that I haven't attempted to actually _use_ inlets-pro yet, just verifying th

[2022-02-03 09:15] alexellis commented on #116
Personal licenses are priced at a trivial amount of money per month, so that you can trial them on a month by month basis. If you like inlets, you can upgrade to annual pricing for an additional discount on the costs.

The license is enforced on the client so as not to make server tunnel maintenance a thing, but the whole application is subject to the EULA and requires a valid license.

The produc

[2022-09-18 07:27] jsiebens opened #119 "Setting the --tcp flag to false, inletsctl still creates an exit-node in tcp mode"
Setting the `--tcp` flag to `false`, inletsctl still creates an exit-node in tcp mode unless `--letsencrypt-domain` is also provided

## Expected Behaviour

Created exit node is running in TCP mode.

## Current Behaviour

Created exit node is running in HTTP mode.

## Possible Solution

Two options:

- An exit node created with `--tcp=false` is running in HTTP mode
- When running `--tcp=false`, va

[2022-10-25 11:38] jjaybrown commented on #54
Started seeing this from local k3s

unable to download CA from remote inlets server for auto-tls: Get "https://178.62.15.220:8123/.well-known/ca.crt"

What is this and why can't I configure the ca myself?

[2022-10-25 17:24] alexellis commented on #54
Hi @jjaybrown

Happy to help, please can you raise your issue?

Alex

[2022-10-25 17:24] alexellis commented on #54
/lock: resolved